:root {
    /*========== Colors ==========*/
    --body-color: #fff;
    --Firt-color-header: #3E2719;
    --secondary-color: #745946;
    --tertiary-color-light: #BFA77E;
    --gray-color: #D6CDC9;
    --letter-color: #878a8f;

    /*========== Font and typography ==========*/
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

/*
    -- Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    font-family: 'Toko', sans-serif;
    font-size: var(--normal-font-size);
    font-weight: 400;
    color: black;
}

ul { list-style: none; }

a { text-decoration: none; }

img {
    max-width: 100%;
    height: auto;
  }


/*
    -- Preloader
*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: inset 50vw 0 0 0 #fff,
                inset -50vw 0 0 0 #fff;
    display: grid;
    place-items: center;
    z-index: 10;
}

.preloader.loaded {
    transition: 300ms ease 500ms;
    box-shadow: inset 0 0 0 #fff,
                inset 0 0 0 #fff;
    pointer-events: none
}

.preloader .line {
    width: 2px;
    height: 100%;
    background-color: black;
    transition: .5s ease;
    animation: loading 1000ms linear forwards;
}


@keyframes loading {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(0.4); }
}

.preloader.loaded .line { animation: loaded 500ms ease forwards; }

@keyframes loaded {
    0% {
        transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}

/*
    -- Header And Navigation
*/

.header {
    width: 100%;
    height: 70px;
}

.nav-container {
    width: 100%;
    background-color: #3E2719;
    display: fixed;
    padding: 0 35px 0 35px;
}

.menu-fixed {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #fff;
    display: flex;
    align-items: center;
}



.text-logo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.menu {
    position: relative;
    width: 100px;
    color: #fff;
    display: flex;
    align-items: center;
}

.menu-text {
    position: absolute;

}
/*
    -- Menu Burger
*/

.menu .menu-burger {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 3px;
    background-color: currentColor;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu .menu-burger::after,
.menu .menu-burger::before {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background-color: currentColor;
    transition: all .5s ease-in-out;
}

.menu .menu-burger::before {
    transform: translateY(10px);
}

.menu .menu-burger::after {
    transform: translateY(-14px);
}

/*
    -- Menu Burger Animation
*/

.menu.open .menu-burger {
    transform: translateX(-50px);
    background-color: transparent;
}

.menu.open  .menu-burger::after {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu.open .menu-burger::before {
    transform: rotate(-45deg) translate(35px, 35px);
}