:root {
    /*========== Colors ==========*/
    --body-color: #fff;
    --Firt-color-header: #3E2719;
    --secondary-color: #745946;
    --tertiary-color-light: #BFA77E;
    --grey-color: #D6CDC9;
    --letter-color: #878a8f;

    /*========== Font and typography ==========*/
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}


/* 
   --- *** *** RESET *** *** ---
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

ul{ list-style: none; }

a {
    text-decoration: none;
    color: var(--grey-color);
}

body.loaded { overflow-y: auto; }


/* 
   --- *** *** Preloader *** *** ---
*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: inset 55vw 0 0 0 #fff,
                inset -55vw 0 0 0 #fff;
    display: grid;
    place-items: center;
    z-index: 1000;
  }
  
  .preloader.loaded {
    transition: 300ms ease 500ms;
    pointer-events: none;
    box-shadow: inset 0 0 0 0 #fff,
                inset 0 0 0 0 #fff;
  }
  
  .preloader .line {
    width: 1px;
    height: 100%;
    background-color: black;
    transition:  .5s ease;
    animation: loading 1000ms linear forwards;
  }
  
  @keyframes loading {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(0.3); }
  }
  
  .preloader.loaded .line { animation: loaded 500ms ease forwards; }
  
  @keyframes loaded {
    0% { transform: scaleY(0.3); }
  
    100% {
      transform: scaleY(1);
      opacity: 0;
    }
  }

/* 
--- *** *** Inicio | HEADER *** *** ---
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.header .sectHeader  {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color: transparent;
}

.sectHeader .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .text-logo {
    display: flex;
    flex-direction: column;
}

.text-logo .name {
    font-size: 20px;
    font-family: 'Great Vibes', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
}

.text-logo .profession {
    font-family: 'Toko', sans-serif;
    letter-spacing: 3px;
}

.sectHeader .menu {
    position: relative;
    top: 0;
    right: 0;
    gap: 15px;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing:  4px;
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
}

.menu-text {
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    color: var(--grey-color);
}

/* 
    --- *** *** Inicio | criação do menu-hamburger *** *** ---
*/

.menu .menu-burger {
    background-color: currentColor;
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 5px;
    transition: .5s ease;
}

.menu .menu-burger::after,
.menu .menu-burger::before {
    background-color: currentColor;
    content: '';
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 5px;
    transition: .5s ease;
}

.menu .menu-burger::after {
    transform: translateY(-16px);
}

.menu .menu-burger::before {
    transform: translateY(12px);
}

/* 
--- *** *** Inicio | Animação do menu-hamburger *** *** ---
*/

.sectHeader.open .menu-burger {
    transform: translateX(-50px);
    background-color: transparent;
}

.sectHeader.open .menu-burger::after {
    transform: rotate(45deg) translate(35px, -35px);
    margin-top: -2px;
}

.sectHeader.open .menu-burger::before {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* 
    --- *** *** Inicio | criação da Navbar *** *** ---
*/

.navigation {
    display: none;
    /* z-index: 10; */
}


.sectHeader.open .navigation {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0F141E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #878a8f;    font-size: 52px;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Kalam', sans-serif;
    padding: 8px;
    animation: load 1400ms ease ;

}

  
  @keyframes load {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% { transform: translateX(0); }
}
  
/* 
    *** Inicio | MAIN *** 
*/

.main {
    background-color: var(--Firt-color-header);
    height: 100vh;
}

/* 
    --- *** *** Inicio | IMG *** *** ---
*/

.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.container-img img {
    position: absolute;
    top: 120px;
    right: 20px;


    /* Float */
    animation: float 5s ease-in-out infinite alternate;
    transition: .4s;
}

/* 
    *** Inicio | Animação flutuando da img ***
*/

@keyframes float {
    0% {
        transform: translateY(0px);
    
    }
    50% {
        transform: translateY(-30px);
        filter: drop-shadow( 0 1.5rem 1rem rgba(0, 0, 0, .5));
        
    }
    100% {
        transform: translateY(0px);
        
    }
}

/* 
    --- *** *** Fim | Animação flutuando da img *** *** ---
*/

.container-description {
    position: absolute;
    padding-left: 40px;
    top: 60%;
    width: 50%;
}

.container-description h5 { 
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size:  40px;
    letter-spacing: 4px;
    color: var(--letter-color);
    padding-bottom: 3%;
}

.container-description h1 {
    font-family: 'Toko', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--grey-color);
}

.typing {
    padding-right: 5px;
    border-right: 3px solid;
    animation: typing .8s steps(13) infinite ;
}

.container-description span.typing {
    color: var(--letter-color);
    font-family: 'Toko', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    animation: .5s ease-in-out infinite;
}

.container-description h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(245, 222, 179, 0.301);
    padding: 20px 0px;
}

/* 
    --- *** *** Fim | Animação flutuando da img *** *** ---
*/

.footer {
    position: absolute;
    background-color:  #fff;
    width: 100%;
    height: 100vh;
}

.ability {
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.container {
    width: 60%;
    height: 20vh;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    position: relative;
    transition: .9s ease;
}

.html-css,
.js-node {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 50px;
}

.card {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    clip-path: circle(90px);
    padding: 10px;
    transition: .9s;
    position: absolute;
}

.container img {
    width: auto;
    height: 100%;
    transition:  .8s ease-in-out;
}


.container:hover img {
    transform: scale(1.5) translate(15px, 25px) ;
    filter: drop-shadow(0 3px 8px rgba(0, 0, 0, .4));
}

.container:hover #html{
    clip-path: circle(100%);
    background: linear-gradient(to right, #ff6f00d7, #e65100bd);
}

.container:hover #css{
    clip-path: circle(100%);
    background: linear-gradient(to right,#039be5 , #0277bd);
    
}

.container:hover #js{
    clip-path: circle(100%);
    background: linear-gradient(to right, #ffd50081, #ffd50091);
    
}

.container:hover #node{
    clip-path: circle(100%);
    background: linear-gradient(to right, #21a366a8, #21a3667e);
    
}

.footer h2 {
    text-align: center;
    color: #1D2538;
    font-family: "Raleway" Arial, Helvetica, sans-serif;
    font-size: 55px;
}


.footer #copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-left: 10px;
    background-color: #7C8DA5;
    display: flex;
    align-items: center;
}

#copy p span {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--body-color);
    padding-bottom: 5px;
    text-transform: uppercase;

}



/* 
    *** Inicio | Portfolio Responsivo ***
*/

@media (max-width: 1200px) {

    .container-description span.typing {
        font-size: 25px;
        font-weight: 500;
    } 
    
    .container-description {
        width: 90%;
    }

    .container-description h1 {
        font-size: 25px;
        font-weight: 700;
    }

    .container-description h3 {
        font-size: 18px;
    }
    
    .container-description h5 {
        font-size: 20px;
        font-weight: 500;
    }
    
    img {
        height: 50%;
    }

    .header .line {
        display: none;
    }
}