:root {
    /*========== Colors ==========*/
    --body-color: #fff;
    --Firt-color-header: #3E2719;
    --secondary-color: #745946;
    --tertiary-color-light: #BFA77E;
    --grey-color: #D6CDC9;
    --letter-color: #878a8f;

    /*========== Font and typography ==========*/
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}


/* 
   --- *** *** RESET *** *** ---
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

ul{ list-style: none; }

a {
    text-decoration: none;
    color: var(--grey-color);
}




/* 
--- *** *** Inicio | HEADER *** *** ---
*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.header .sectHeader  {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color: transparent;
}

.sectHeader .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .text-logo {
    display: flex;
    flex-direction: column;
}

.text-logo .name {
    font-size: 20px;
    font-family: 'Great Vibes', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
}

.text-logo .profession {
    font-family: 'Toko', sans-serif;
    letter-spacing: 3px;
}

.sectHeader .menu {
    position: relative;
    top: 0;
    right: 0;
    gap: 15px;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing:  4px;
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
}

.menu-text {
    font-size: 16px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    color: var(--grey-color);
}

/* 
    --- *** *** Inicio | criação do menu-hamburger *** *** ---
*/

.menu .menu-burger {
    background-color: currentColor;
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 5px;
    transition: .5s ease;
}

.menu .menu-burger::after,
.menu .menu-burger::before {
    background-color: currentColor;
    content: '';
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 5px;
    transition: .5s ease;
}

.menu .menu-burger::after {
    transform: translateY(-16px);
}

.menu .menu-burger::before {
    transform: translateY(12px);
}

/* 
--- *** *** Inicio | Animação do menu-hamburger *** *** ---
*/

.sectHeader.open .menu-burger {
    transform: translateX(-50px);
    background-color: transparent;
}

.sectHeader.open .menu-burger::after {
    transform: rotate(45deg) translate(35px, -35px);
    margin-top: -2px;
}

.sectHeader.open .menu-burger::before {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* 
    --- *** *** Inicio | criação da Navbar *** *** ---
*/

.navigation {
    display: none;
    /* z-index: 10; */
}


.sectHeader.open .navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0F141E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #878a8f;    font-size: 52px;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Kalam', sans-serif;
    padding: 8px;
}




/* 
    --- *** *** Inicio | criação do menu-hamburger *** *** ---
*/

.container-img { 
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
}

.container-img img {
    position: absolute;
    top: 120px;
    right: 50px;


    /* Float */
    animation: float 5s ease-in-out infinite alternate;
    transition: .4s;
}

.container-description {
    position: absolute;
    padding-left: 40px;
    top: 60%;
    width: 50%;
}

.container-description h5 { 
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size:  40px;
    letter-spacing: 4px;
    color: var(--letter-color);
    padding-bottom: 3%;
}

.container-description h1 {
    font-family: 'Toko', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--grey-color);
}

.typing {
    padding-right: 5px;
    border-right: 3px solid;
    animation: typing .8s steps(13) infinite ;
}

.container-description span.typing {
    color: var(--letter-color);
    font-family: 'Toko', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    animation: .5s ease-in-out infinite;
}

.container-description h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(245, 222, 179, 0.301);
    padding: 20px 0px;
}

.sectHeader #email {
    font-size: 40px;
}


/* 
    *** Inicio | MAIN *** 
*/

.main {
    background-color: var(--Firt-color-header);
    height: 100vh;
}

.two {
    background: #745946;
    height: 100vh;

}

.three {
    background-color: red;
    height: 100vh;
}

.four {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

.four #copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    background-color: #878a8f;
    display: flex;
    align-items: center;
}

p span {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--letter-color);
    padding-bottom: 5px;
    text-transform: uppercase;
}

 .main.scroll-header img{
    animation: float 5s ease-in-out infinite alternate;
}

/* @keyframes floa {
    0% {

        opacity: 1;
    }
    50% {

        opacity: 0;
    }
    100% {
        
    }
} */

/* 
    *** Inicio | Animação efeito maquina de escrever *** 
*/

/* 
    *** Fim |  Animação efeito maquina de escrever *** 
*/


/* 
    *** Inicio | Animação flutuando da img ***
*/

@keyframes float {
    0% {
        transform: translateY(0px);
    
    }
    50% {
        transform: translateY(-30px);
        filter: drop-shadow( 0 1.5rem 1rem rgba(0, 0, 0, .5));
        
    }
    100% {
        transform: translateY(0px);
        
    }
}

/* 
    *** Fim | Animação flutuando da img ***
*/





/* Responsive */

@media (max-width: 1200px) {
    
    /* span.menu-burger.active .logo {
        display: none;
    } */

    .container-description span.typing {
        font-weight: 500;
    } 
    
    .container-description {
        width: 90%;
    }

    .container-description h1 {
        font-size: 55px;
        font-weight: 700;
    }

    .container-description h3 {
        font-size: 25px;
    }
    
    .container-description h5 {
        font-size: 20px;
        font-weight: 500;
    }
    
    img {
        height: 50%;
        /* width: 300px; */
    }

    .header .line {
        display: none;
    }
}